* {font-family: Helvetica Neue, Arial, sans-serif; }

body { background-image: linear-gradient(#aaa 25%, #000);}

 table.racetimes { text-align: center; }

table.racetimes {border-collapse: collapse;  width: 70%; margin: 0 auto 5rem;}

th.x, td.x { padding: 1.5rem; font-size: 1.3rem; }

tr.x {background: hsl(50, 50%, 80%); }

tr.x, td.x { transition: .4s ease-in; } 

tr.x:first-child {background: hsla(12, 100%, 40%, 0.5); }

tr.x:nth-child(even) { background: hsla(50, 50%, 80%, 0.7); }

td.x:empty {background: hsla(50, 25%, 60%, 0.7); }

tr.x:hover:not(#firstrow), tr.x:hover td:empty {background: rgb(240, 197, 104); pointer-events: visible;}
tr.x:hover:not(#firstrow) { transform: scale(1.02); font-weight: 100; box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.5);}


