{% load static %}
<!DOCTYPE html>
<html>
<title>AUTHORITY LOGIN
</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">

<!--===============================================================================================-->
<style>
body, html {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
}

.bgimg {
  background-position: center;
  background-size: cover;
 
  min-height: 75%;
}

.menu {
  display: none;
}

  .container {
      position: relative;
      width: 100%;
      height: 20px;
      max-width: 200px;
    }
    
  .container img {
      width: 100%;
      height: 20px;
    }
    
  .container .btn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      background-color: #e7e4e2;
      color: black;
      font-size: 14px;
      padding: 16px 16px;
      border: none;
      cursor: pointer;
      border-radius: 25px;
      text-align: center;
    }
    
    .container .btn:hover {
      background-color: black;
      color: rgb(184, 178, 178);
    }
  

</style>
<body>

<!-- Links (sit on top) -->
{% include 'unavbar.html'%}

<!-- Header with image -->
<header class="bgimg w3-display-container w3-grayscale-min" id="home" style="background-image:url({% static 'images/user_home1.jpg'%});">
  <div class="w3-display-bottomleft w3-center w3-padding-large w3-hide-small">
    <span class="w3-tag"></span>
  </div>
  <div class="w3-display-middle w3-center>
    <span class="w3-text-white" style="font-size:90px"><br></span>
  </div>
  <div class="w3-display-bottomright w3-center w3-padding-large">
    <span class="w3-text-white"></span>
  </div>
</header>


{% if requests|length > 0 %}
<section>
	<!--for demo wrap-->
	<br>
	<h1>List of all files</h1>
	<div class="tbl-header">
	  <table cellpadding="0" cellspacing="0"  class="x" class="x" style="text-align: center;">
		<tr id="firstrow" style="text-align: center;" >
			<th class="x" style="text-align: left; width: 80px; ">S No.</th>
			<th class="x" style="text-align: center;">File Name</th>
			<th class="x" style="text-align: center;">Size</th>
			<th class="x" style="text-align: center;">Formate</th>
			<th class="x" style="text-align: center;">Requested on</th>
			<th class="x" style="text-align: center;">Last Upadate</th>
			<th class="x" style="text-align: center;">Delete</th>
			<th class="x" style="text-align: center;">Request</th>
			
		  </tr>
		</thead>
	  </table>
	</div>
	<div class="tbl-content" style="border-color:rgb(109, 98, 78);;">
	  <table cellpadding="0" cellspacing="0" border="0" class="x">
		<tbody style="background-color: rgb(31, 28, 28);">
	
  
  {% for request in requests%}
  <tr class="x" style="text-align: center;">
      
	<td class="x" style="text-align: left; width: 80px;">{{ forloop.counter }}</td>
	<td class="x" style="text-align: center;">{{request.files.name}}</td>
	<td class="x" style="text-align: center;">{{request.files.file_size|floatformat:2}}MB</td>
	<td class="x" style="text-align: center;">{{request.files.format}}</td>
	<td class="x" style="text-align: center;">{{request.timestamp}}</td>
	<td class="x" style="text-align: center;">{{request.update_on}}</td>
	<td class="x" style="text-align: center;">
	  <div class="container" >
		<a href="arequest/delete/{{request.id}}" class="btn" style="text-decoration: none">Delete</a>        
	  </div>
	</td>

	<td class="x" style="text-align: center;">
	  <div class="container" >	  
		  {% if request.astatus == "Pending" %}
		  <a href="" class="btn" style="text-decoration: none;background: rgb(168, 63, 36);">Pending</a>
		  {% elif request.astatus == "Accesed" %}
		  <a href="" class="btn" style="text-decoration: none ;background: rgb(64, 100, 48);">Accesed</a>
		  {% endif %}
	  </div>
	</td>
 </tr>
		 
	 {% endfor%}    
		 
		
		</tbody>
	  </table>
	</div>
  </section>
{% endif %}


{% if files|length > 0 %}
<section>
  <!--for demo wrap-->
  <link rel="stylesheet" type="text/css" href="{% static 't_fhome/style.css' %}">
  <br>
  <h1>List of all Users</h1>
  <div class="tbl-header" style="background-color: rgb(241, 195, 138);">
    <table cellpadding="0" cellspacing="0" border="0" class="x" style="border-color: rgb(90, 71, 71);">
      <thead>
		<tr id="firstrow" class="x" >
			<th class="x" style="text-align: center;">S No.</th>
			<th class="x" style="text-align: center;">File Name</th>
			<th class="x" style="text-align: center;">Size</th>
			<th class="x" style="text-align: center;">Formate</th>
			<th class="x" style="text-align: center;">Last Upadate</th>
			<th class="x" style="text-align: center;">Request</th>
		  </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content" style="border-color: rgb(109, 98, 78);">
    <table cellpadding="0" cellspacing="0" border="0" class="x">
      <tbody style="background-color: rgb(90, 71, 71);">
  
{% for file in files%}

	   
 <tr class="x" style="height:75px;">
    
    <td class="x" style="text-align: center;">{{ forloop.counter }}</td>
    <td class="x" style="text-align: center;">{{file.files.name}}</td>
    <td class="x" style="text-align: center;">{{file.files.file_size|floatformat:2}}MB</td>
    <td class="x" style="text-align: center;">{{file.files.format}}</td>
    <td class="x" style="text-align: center;">{{file.files.update_on}}</td>
    <td class="x">
      <div class="container" >
          <a href="arequest/{{file.id}}" class="btn" style="text-decoration: none">Request</a>             
      </div>
    </td>
 </tr>
   
   {% endfor%}    
       
      
      </tbody>
    </table>
  </div>
</section>

{% endif %}



<!-- Add a background color and large text to the whole page -->
<div class="w3-sand w3-grayscale w3-large">

<!-- About Container -->
s<div class="w3-container" id="about">
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">ABOUT THE SECURITY</span></h5>
    <h2>Authentication Factors that Help Ensure Secure File Sharing.</h2>
    <p>Verifying that someone is who they say they are is essential for keeping your company’s data safe. In the past, a single, unique password might have been enough protection to keep potential digital thieves at bay, but hackers’ methods have become more sophisticated with each passing today.</p><br>
	<p>So, what can you do to maintain the wall of security around your data?</p><br>
	<p>Authentication is a way to verify the person attempting to access your FTP server and the data stored within it is actually who they say they are. If your business deals with sensitive data, strict authentication measures are imperative for keeping data out of the wrong hands. And, ineffective authentication can have an impact on compliance, too.</p>
    
  </div>
</div>



</body>
</html>
